<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1026570035833-u9hrj8iidtvu03re29je576j59u4is8f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1026570035833-u9hrj8iidtvu03re29je576j59u4is8f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1026570035833-64qp85pqbr20i8ac0dhle8nvnfv869hj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD9iEAP5i683o9CIfLFY1xqXL8E72jWZRg</string>
	<key>GCM_SENDER_ID</key>
	<string>1026570035833</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.interviewTask</string>
	<key>PROJECT_ID</key>
	<string>morphosis-6f3ab</string>
	<key>STORAGE_BUCKET</key>
	<string>morphosis-6f3ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1026570035833:ios:2c640b80c0d99fa05a6aa8</string>
</dict>
</plist>